.clearmargin {
  margin: 0px;
}

.clearpadding {
  padding: 0px;
}

.row-image-txt {
  background-color: rgb(42,42,42);
}

.row-image-txt h1 {
  position: absolute;
  width: 625px;
  height: 122px;
  left: 370px;
  top: 225px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 88.6%;
  color: white;
}

.row-image-txt p {
  color: white;
}

.grad {
  position: absolute;
  width: 1920px;
  height: 750px;
  left: 0px;
  top: 85px;
  background: linear-gradient(90deg, black 36%, rgba(255,255,255,0)), url("../../assets/img/maqola_a6e83d77eb.jpg"), #010101;
  border-style: none;
  border-color: var(--bs-btn-disabled-color);
}

.top-title {
  position: absolute;
  width: 625px;
  height: 122px;
  left: 370px;
  top: 225px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 88.6%;
  color: #ffffff;
}

.about {
  position: absolute;
  width: 607px;
  height: 73px;
  left: 370px;
  top: 411px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: rgba(255,255,255,0.8);
}

.buttontop {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 19px 53px;
  gap: 5px;
  position: absolute;
  width: 352px;
  height: 58px;
  left: 371px;
  top: 556px;
  background: #FF0000;
  --bs-btn-bg: #000000;
  font-family: 'Tenor Sans', sans-serif;
  --bs-btn-border-color: #ff0000;
  --bs-btn-hover-bg: #eb4444;
  --bs-btn-hover-border-color: #ff0101;
}

.buttontos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 19px 53px;
  gap: 5px;
  position: absolute;
  width: 352px;
  height: 58px;
  left: 771.5px;
  top: 1050px;
  background: #FF0000;
  --bs-btn-bg: #000000;
  font-family: 'Tenor Sans', sans-serif;
  --bs-btn-border-color: #ff0000;
  --bs-btn-hover-bg: #eb4444;
  --bs-btn-hover-border-color: #ff0101;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #000000;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.ghost-button:hover, .ghost-button:active {
  background-color: #fff;
  color: #000;
}

.text3 {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: absolute;
  width: 851px;
  height: 44px;
  left: 371px;
  top: 1654px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 88.57%;
  color: var(--bs-purple);
}

diagramup {
  position: absolute;
  width: 65.52px;
  height: 25.14px;
  left: 11.03px;
  top: 17.43px;
  background: #FFFFFF;
}

.buttonto {
  width: 392px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

