.u-section-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0 84px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 20px 305px 0 84px;
}

.u-section-1 .u-image-1 {
  width: 499px;
  height: 333px;
  margin: 20px auto 0 84px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 30px 305px 0 84px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 30px 305px 60px 84px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 105px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}